NODE_ENV=development

WEB_PUBLIC_PORT=48110
CMS_PORT=48111
CORE_API_PORT=48120
NOTIFICATION_API_PORT=48121
POSTGRES_PORT=48130
REDIS_PORT=48140
RABBIT_AMQP_PORT=48150
RABBIT_UI_PORT=48151
MINIO_PORT=48160
MINIO_UI_PORT=48161
MAILPIT_SMTP_PORT=48170
MAILPIT_UI_PORT=48171
CLAMAV_PORT=48180
PROMETHEUS_PORT=48190
GRAFANA_PORT=48191

POSTGRES_USER=nexora
POSTGRES_PASSWORD=nexora_dev_password
POSTGRES_DB=nexora
DATABASE_URL=postgresql://nexora:nexora_dev_password@localhost:48130/nexora?schema=public

REDIS_URL=redis://localhost:48140
RABBITMQ_URL=amqp://nexora:nexora_dev_password@localhost:48150
RABBITMQ_ERLANG_COOKIE=nexora_dev_cookie
MINIO_ENDPOINT=http://localhost:48160
MINIO_ACCESS_KEY=nexora
MINIO_SECRET_KEY=nexora_dev_password
MAILPIT_SMTP_HOST=localhost
MAILPIT_SMTP_PORT=48170
